div.gallery{
    margin: 5px ;
    border: 1px solid beige;
    float: left;
    width: 180px;
}

div.gallery:hover{
    border: 5px solid black;  
}

div.gallery img{
    width:100% ;
    height: auto;
    
}
div.dsc{
    padding: 15px;
}